:root {
    --yellow:#FFF700;
    --orange:#EFDF00;
    --red:#FF3E6C;
    --black:#3E3E3E;
    --white:#F7F7F7;
}

html {
  scroll-behavior: smooth;
}

body{
    background-color: var(--yellow);
    font-family: 'Poppins', sans-serif;
}

.home{
    margin-top: 50px;
}

/* Navbar Section */

.navbar{
    background-color: var(--yellow);
}

.logo{
    font-family: 'Bungee Shade', cursive;
    color: var(--red);
    text-decoration: none;
    font-size: 20px;
    margin-right: 10px;
}

.bold{
    font-weight: bold;
    color: black !important;
}

.nav-item{
    color: black !important;
}

/* Showcase Section */

.showcase{
    height: 100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
}

.cgc-title{
    font-family: 'Bungee Shade', cursive;
    font-size: 200px;
    color: var(--red);
    /* margin-top: 100px; */
}

.second-title{
    font-family: 'Bungee Shade', cursive;
    margin-top: 20px;
}

.scroll-down-btn{
    background-color: var(--yellow);
    color: var(--yellow);
    border: none;
    margin-top: 40px;
}


/* Problems Section*/

.collapsible {
    background-color: var(--red);
    color: var(--black);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 20px;
    width: 80%;
    margin-left: 10%;
    margin-top: 10px;
    margin-bottom: 10px;
}
  
.active, .collapsible:hover {
    background-color: var(--white);
    color: var(--black);
}
  
.collapsible:after {
    content: '\002B';
    color: var(--black);
    font-weight: bold;
    float: right;
    margin-left: 5px;
}
  
.active:after {
    content: "\2212";
}
  
.content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: var(--white);
    width: 80%;
    margin-left: 10%;
    color:var(--black);
    margin-top: -10px;
}

.problem_desc{
    margin-top: 20px;
}

.problem_author{
    margin-top: 30px;
    font-size: 12.5px;
}


/* //////////////  Code Page /////////////////  */

/* Main page styling */

.code-home{
    margin-top: 60px;
}

#editor { 
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 80vh;
    width: 50%;
    margin-top: 100px;
}







/* Footer Section */

footer{
    margin-top: 80px;
    margin-bottom: 20px;
}