:root {
    --black:#101010;
    --green:#06D6A0;
    --white:#FFFFFF;
    --blue: #1d2b5b;
}

html {
  scroll-behavior: smooth;
}

body{
    background-color: var(--black);
    font-family: 'Poppins', sans-serif;
    color: var(--white);
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 1em;
}
   
body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
   
body::-webkit-scrollbar-thumb {
    background-color: var(--green);
    /* //outline: 1px solid var(--green); */
    border-radius: 10px;
}

/* Navbar Section */

.navbar{
    background-color: var(--black);
}

.logo{
    font-family: 'Bungee Shade', cursive;
    color: var(--green);
    text-decoration: none;
    font-size: 20px;
    margin-right: 10px;
}

.bold{
    font-weight: bold;
    color: red !important;
}

.nav-item{
    color: red !important;
}

/* Showcase Section */

.showcase{
    height: 100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
}

.cgc-title{
    font-family: 'Bungee Shade', cursive;
    font-size: 200px;
    color: var(--green);
    /* margin-top: 100px; */
}

.second-title{
    font-family: 'Bungee Shade', cursive;
    margin-top: 20px;
    color: var(--white);
}

.scroll-down-btn{
    background-color: var(--black);
    color: var(--black);
    border: none;
    margin-top: 40px;
}


/* Problems Section*/

.collapsible {
    background-color: var(--green);
    color: var(--white);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 20px;
    width: 100%;
    /* margin-left: 10%; */
    margin-top: 10px;
    margin-bottom: 10px;
}
  
.active, .collapsible:hover {
    background-color: var(--blue);
    color: var(--white);
}
  
.collapsible:after {
    content: '\002B';
    color: var(--white);
    font-weight: bold;
    float: right;
    margin-left: 5px;
}
  
.active:after {
    content: "\2212";
}
  
.content {
    padding: 0 18px;
    max-height: 0;
    overflow: scroll;
    transition: max-height 0.2s ease-out;
    background-color: var(--black);
    width: 100%;
    color:var(--white);
    margin-top: -10px;
}

.problem_desc{
    margin-top: 20px;
}

.go_btn{
    background-color: var(--green);
    border: 2px solid var(--green);
    border-radius: 20px;
    color: white;
    width: 40%;
}

.problem_author{
    margin-top: 10px;
    font-size: 12.5px;
}


/* //////////////  Code Page /////////////////  */

/* Main page styling */

.code-home{
    margin-top: 30px;
}

.solution-info{
    height: 80vh;
    background-color: var(--black);
    overflow-y: scroll; 
    border: 2px solid var(--green);
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

.solution-info::-webkit-scrollbar {
    width: 1em;
}
   
.solution-info::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
   
.solution-info::-webkit-scrollbar-thumb {
    background-color: var(--green);
    /* //outline: 1px solid var(--green); */
    border-radius: 10px;
}

#go_back{
    background-color: var(--black);
    color: var(--black);
    border: none;
    margin-left: 40px; 
    display: none;
}

.problem_name{
    margin: 10px;
}

.problem_desc{
    margin: 30px;
}

.submit_btn{
    margin-top: 100px;
    background-color: var(--black);
    text-decoration: none;
    border: none;
}

.btn_text{
    color:var(--green);
    margin-top: 5px;
    font-size: 24px;
}

/* Results Section */

#collapse_section{
    display: none;
    margin-bottom: -140px;
}

/* Loader */

#loader{
    display: none;
    margin-top: -100px;
}

svg {
    margin-top: 40px;
    position: absolute;
    -webkit-transform: translate(-50%, -50%) rotate(45deg) scale(1);
            transform: translate(-50%, -50%) rotate(45deg) scale(1);
}
  
.stroke-still {
stroke: var(--black);
}

.stroke-animation {
-webkit-animation: stroke-spacing 1.2s ease-in, stroke-color 4.8s linear;
        animation: stroke-spacing 1.2s ease-in, stroke-color 4.8s linear;
-webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
-webkit-animation-delay: 0;
        animation-delay: 0;
-webkit-animation-direction: normal;
        animation-direction: normal;
-webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
-webkit-animation-play-state: running;
        animation-play-state: running;
-webkit-transform-origin: center center;
        transform-origin: center center;
}

@-webkit-keyframes stroke-spacing {
0% {
    stroke-dasharray: 0 200;
}
45% {
    stroke-dashoffset: 0;
    stroke-dasharray: 200 200;
}
90% {
    stroke-dashoffset: -200;
    stroke-dasharray: 200 200;
}
100% {
    stroke-dashoffset: -200;
    stroke-dasharray: 200 200;
}
}

@keyframes stroke-spacing {
0% {
    stroke-dasharray: 0 200;
}
45% {
    stroke-dashoffset: 0;
    stroke-dasharray: 200 200;
}
90% {
    stroke-dashoffset: -200;
    stroke-dasharray: 200 200;
}
100% {
    stroke-dashoffset: -200;
    stroke-dasharray: 200 200;
}
}

@-webkit-keyframes stroke-color {
0%  { stroke: #3498DB; }
24% { stroke: var(--blue); }
25% { stroke: var(--green); }
49% { stroke: var(--green); }
50% { stroke: #32326e; }
74% { stroke: #32326e; }
75% { stroke: var(--blue); }
99% { stroke: var(--blue); }
}

@keyframes stroke-color {
0%  { stroke: #3498DB; }
24% { stroke: #643232; }
25% { stroke: var(--green); }
49% { stroke: var(--green); }
50% { stroke: #32326e; }
74% { stroke: #32326e; }
75% { stroke: var(--blue); }
99% { stroke: var(--blue); }
}
  
/* Editor Section */

#editor { 
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 80vh;
    border: 2px solid var(--green);
    /* width: 50%; */
    /* margin-top: 100px; */
}


/* Upload Form Section */

.upload_form{
    margin-left: 100px;
}

.input_title{
    font-size: 30px;
    color: var(--green);
}

.problem_name input{
    margin: 40px 0px;
    width: 80%;
    background-color: var(--black);
    text-decoration: none;
    border-style:solid;
    border-style:none;
    border-bottom: 3px solid var(--blue);
    color: var(--white);
    font-size: 24px;
}

textarea:focus, input:focus{
    outline: none;
}

.problem_desc textarea{
    margin: 40px 0px;
    width: 90%;
    background-color: var(--black);
    text-decoration: none;
    border-style:solid;
    border-style:none;
    border: 3px solid var(--blue);
    color: var(--white);
    font-size: 24px;
}

.item{
    margin: 50px 0px;
}

.submit_form_btn{
    background-color: var(--green);
    border: 2px solid var(--green);
    border-radius: 20px;
    color: white;
    width: 80%;  
    margin-right: 10%;
}



/* Footer Section */

footer{
    margin-top: 80px;
    margin-bottom: 20px;
}

p field_desc {
    color:white;
}