<!DOCTYPE html> {% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;700;800&display=swap" rel="stylesheet">
    <title>Codagio</title>
</head>

<body>
    <div>
        <form id="sub_form" action="" method="post">
            {% csrf_token %}
            <div class="form-row">
                <div class="form-group col-md-6 mb-0">
                    {{ form.title }}
                </div>
            </div>
            <br>
            <div class="form-row">

                <div class="form-group col-md-6 mb-0">
                    {{ form.solution }} {{ form.user_id }} {{ form.problem_id }}
                    <br>
                </div>
            </div>
            <button id="sub_btn" type="submit" class="btn btn-primary">Submit your code!</button>
        </form>


    </div>

    
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'frontend/user_submission.js' %}"></script>

</html>