{% load static %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% bootstrap_messages %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;700;800&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="icon" href="{% static 'images/icon.png' %}">
    <title>CGC - Code for Code's Sake</title>
</head>
 
<header>
    <!-- Fixed navbar -->
    <!-- Add fixed-top to navbar class if want to be fixed in place-->
    <nav class="navbar navbar-expand-md navbar-dark">
        <a class="logo" href="{% url 'index' %}">CGC</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item bold">
                    <a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'accounts:logout' %}">Logout</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Upload</a>
                     <ul class="dropdown-menu">
                         <li><a class="dropdown-item" href="{% url 'code:problem_upload' problem_cat='default' %}">Default</a></li>
                         <li><a class="dropdown-item" href="{% url 'code:problem_upload' problem_cat='file_io' %}">File I/O</a></li>
                     </ul>
                 </li>
                 <li class="nav-item">
                    <a class="nav-link" href="{% url 'users:profile' %}">View Profile</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'accounts:login' %}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'accounts:register' %}">Register</a>
                </li>
                {% endif %}
                <li class="nav-item" style="float:right">
                <div>
                    <a class="nav-link" href="{% url 'about' %}">About Us</a>
                </div>
                </li>
            </ul>
        </div>
    </nav>
</header>

<body style="overscroll-behavior-x: none;">
    
    <!-- <div id="sidebar">
        {% block sidebar %}
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/blog/">Blog</a></li>
        </ul>
        {% endblock %}
    </div> -->

    <div id="content">
        {% block content %}{% endblock %}
    </div>

    <footer>
        <!-- <div class="text-center">
            <a><img src="{% static 'images/github.png' %}"/></a>
        </div> -->
    </footer>

</body>

</html>