{% extends "base.html" %} 
{% load static %}
{% block content %}

    <div class="code-home">
        <div class="top_section">
            <img src="{% static 'images/back.png' %}" id="go_back"/>
            <h1 class="problem_name text-center"><br><u>{{ problem_name }}</u><br></h1>
        </div>
        <br>
        <p class="problem_desc" id="description" style="white-space:pre-wrap;margin-left:2em;">{{ problem_desc }}</p>
        <br>
        {% if sample_input %}
            <p>Sample input: {{ sample_input }}</p>
            <p>Sample output: {{ sample_output }} </p>
        {% endif %}

            <div class="row no-gutters">
                <div id="editor" class="col-sm-12 col-md-6 col-lg-6 col-xl-6 nopadding">
                </div>
                <div class="solution-info col-sm-12 col-md-6 col-lg-6 col-xl-6 nopadding">
                    <form id="sub_form" action="" method="post" enc="multipart/form-data">
                        
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="form-group col-md-6 mb-0 col-lg-12">
                                {{ form.title }}
                            </div>
                        </div>
                        <br>
                        <div class="form-row">
                            <div class="form-group col-md-6 mb-0 col-lg-12">
                                <input name="solution" id="solution_text" type="hidden"> {{ form.problem_id }}
                            </div>
                            <input type="hidden" name="sub_type" value="solution">
                        </div>


                        <div id="problem_info">

                            <div id="result">
                                <p id="overall_score" class="text-center"></p> 
                                <div id="collapse_section">
                                    
                                    <button type="button" class="collapsible"> Quick Results Breakdown </button>
                                    <!-- <div class="content">
                                        <p id="breakdown"> </p>
                                    </div> -->
                                    <button type="button" class="collapsible"> Code Comparison </button>
                                    <!-- <div class="content">
                                        <p id="comparison"> </p>
                                    </div> -->
                                    <button type="button" class="collapsible"> Our Sample Solution </button>
                                    <!-- <div class="content">
                                        <p id="sample_solution"> </p>
                                    </div> -->
                                    <button id="lp_btn" type="button" class="collapsible"> Line Profiling </button>
                                    <div class="content">
                                        <p id="line_profiling"> </p>
                                    </div>
                                    <button id="fail_btn" type="button" class="collapsible"> Failure Stats </button>
                                    <!-- <div class="content">
                                        <p id="fail_stats"> </p>
                                    </div> -->
                                </div>    
                            </div>
                            
                            <p style="visibility:hidden;" id="main_signature">{{ main_signature }}</p>

                            <div class="text-center">
                                <button id="sub_btn" type="submit" class="text-center submit_btn">
                                    <img src="{% static 'images/submit.png' %}" id="submit_img" alt="Unknown img"/>
                                    <p class="btn_text">Submit Your Code</p>
                                </button>
                            </div>
                        </div>

                    </form>


                    <div id="loader">
                        <div class="text-center">
                            <svg width="200" height="200" viewBox="0 0 100 100">
                                <polyline class="line-cornered stroke-still" points="0,0 100,0 100,100" stroke-width="10" fill="none"></polyline>
                                <polyline class="line-cornered stroke-still" points="0,0 0,100 100,100" stroke-width="10" fill="none"></polyline>
                                <polyline class="line-cornered stroke-animation" points="0,0 100,0 100,100" stroke-width="10" fill="none"></polyline>
                                <polyline class="line-cornered stroke-animation" points="0,0 0,100 100,100" stroke-width="10" fill="none"></polyline>
                            </svg>
                        </div>
                    </div>

                </div>
                

            
            </div>
            <div id="graph_heading"></div>
            <div height="400px" width="400px" style="width:100%;height:100vh;position:relative;">
                <canvas id="myChart" width="400" height="400" style="position:absolute;top:0;bottom:0;right:0;left:0;margin:auto;"></canvas>
            </div>
            
        

    </div>
    <div id="result"></div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/ace.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" src="{% static 'js/editor.js' %}"></script>
<script type="text/javascript" src="{% static 'js/collapse.js' %}"></script>
<script type="text/javascript" src="{% static 'js/reset_results.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script> 

{% endblock content %}
