{% extends "base.html" %} 
{% load static %}
{% block content %}
    
    <div class="home">
        <div class="text-center showcase">
            <h1 class="cgc-title"> CGC </h1>
            <h1 class="second-title">Codē Gratia Codis</h1>
            <p>Or in plain english...code for code's sake!</p>
            <a href="#problems"><button class="scroll-down-btn" id="scroll-down-btn"> <img src="{% static 'images/scroll-down.png' %}"/></button></a>
        </div>

        <div class="container" id="problems">
            {% for problem in problems %}
            <button type="button" class="collapsible">{{ problem.name }} ({{ problem.metadata.difficulty }}) </button>
            <div class="content">
                <p class="problem_desc">{{ problem.metadata.description }}</p>
                <a href="{% url 'code:solution' prob_id=problem.id %}">
                    <div class="text-center">
                        <button type="button" class="text-center go_btn">
                            Get started
                        </button>
                    </div>
                </a>
                <p class="problem_author"> Created by {{ problem.author__user__username }}</p>
            </div>

            {% endfor %} 
        </div>
    </div>


    <script type="text/javascript" src="{% static 'js/collapse.js' %}"></script>
    <script type="text/javascript" src="placeholder"></script>
    <script type="text/javascript" src="placeholder"></script>
{% endblock %}