{% extends "base.html" %} {% block title %}CGC - Code for Code's Sake{% endblock %} {% block content %}

<div class="jumbotron text-center">
    <h1>CGC - Codē Gratia Codis</h1>
    <p>Or in plain english...code for code's sake!</p>
</div>


<div class="container">
    {% for problem in problems %}
    <div class="row">
        <div class="col-sm-4">
            <h2 style="text-align:left;text-transform:capitalize"><u>{{ problem.name }}</u></h2><br>
            <a href="{% url 'code:solution' prob_id=problem.id %}">
                <button type="button" class="btn btn-primary btn-md" style="display:inline-block;">Give it a shot!</button>
            </a>

            <hr><br>
            <ul class="list-group">  
                <li class="list-group-item">Description: {{ problem.description }}</li>
                <li class="list-group-item">Difficulty Level: {{ problem.difficulty }}</li>
                <li class="list-group-item">Problem Author: {{ problem.author }}</li>
                <li class="list-group-item">Date/Time Posted: {{ problem.date_created }}</li>
            </ul>
        </div>
        <div>
        </div>
    </div>
    <br>
    <br>
    {% endfor %} 
</div>
{% endblock %}