{% extends "base.html" %} {% load static %} {% load crispy_forms_tags %} {% block title %}CGC - Code for Code's Sake{% endblock %} {% block head %}

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="{% static 'css/problem_upload.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;700;800&display=swap" rel="stylesheet">
</head>
{% endblock %} {% block content %}
    <div>
        <br><h2><u>Upload Your Problem Below:</u></h2><br><br>
        <form id="prob_form" action="" method="post" enc="multipart/form-data">
            {% csrf_token %}
            <div>
                <div class="form-group col-md-6 mb-0">{{ form.author_id }}</div><br><br>
                <div class="form-group col-md-6 mb-0">Problem Name: {{ form.name }}</div><br><br>
                <div class="form-group col-md-6 mb-0">Metadata File (.yaml format): {{ form.meta_file }}</div><br><br>
                <div class="form-group col-md-6 mb-0">Problem Script: {{ form.program }}</div><br><br>
                <div class="form-group col-md-6 mb-0">Problem Description: {{ form.description }}</div>
            </div><br><br>
            <button id="sub_btn" type="submit" class="btn btn-primary">Upload your problem!</button>
        </form>
    </div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'js/problem_upload.js' %}"></script> {% endblock %}