{% extends "base.html" %} 
{% load static %} 
{% load crispy_forms_tags %}

{% block content %}
    
    <div class="row no-gutters">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 nopadding">
            <div>
                <h2 class="text-center" style="padding:20px;"><u>Upload Your Problem Below</u></h2>
            </div>
            <div class="text-left upload_form" style="padding-left:20px;">
                <form id="prob_form" action="" method="post" enc="multipart/form-data">
                    {% csrf_token %}
                    <div>
                        <div class="form-group col-sm-12 col-md-12 col-lg-12 col-xl-12">{{ form.author_id }}</div>
                        <div class="form-group col-sm-12 col-md-12 col-lg-12 col-xl-12 item"><span class="upload-form-field">Problem Name:</span> <span class="problem_name">{{ form.name }}</span></div>
                        <div class="form-group col-sm-12 col-md-12 col-lg-12 col-xl-12 item"><span class="upload-form-field">Problem Description:</span><span class="problem_desc">&nbsp&nbsp{{ form.description }}</span></div>

                        <div class="form-group col-sm-12 col-md-12 col-lg-12 col-xl-12 item"><span class="upload-form-field">Metadata File (.yaml format):</span>{{ form.meta_file }}</div>
                        <div class="form-group col-sm-12 col-md-12 col-lg-12 col-xl-12 item"><span class="upload-form-field">Problem Script:</span>{{ form.program }}</div>
                        {% if cat == 'file_io' %}
                           <div class="form-group col-sm-12 col-md-12 col-lg-12 col-xl-12 item"><span class="upload-form-field">Target File(s) - maximum 3:</span>{{ form.target_file }}</div>
                           <div class="form-group col-sm-12 col-md-12 col-lg-12 col-xl-12 item"><span class="upload-form-field">Optional Data File:</span>{{ form.data_file }}</div>
                        {% elif cat == 'default' %}
                        <div class="form-group col-sm-12 col-md-12 col-lg-12 col-xl-12 item">
                            <span class="upload-form-field">Inputs (.json format):</span>{{ form.inputs }}
                        </div>
                        {% endif %}
                        {{ form.category }}
                    </div>
                    <div class="text-center">
                        <button id="sub_btn" type="submit" class="submit_form_btn">UPLOAD</button>
                    </div>
                </form><br>
            <div><p id="form_upload_res" style="text-align:center;"></p></div>
            </div>
        </div>
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'js/problem_upload.js' %}"></script> 
{% endblock %}