{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="home">
    <div class="container" id="problems">
    <br>
    <h1>{{ course.name }}</h1>
    <div>
        <p>{{ course.description }}</p> 
    </div>
    <h3 style="text-align:center;text-transform:capitalize;"><u>Problems</u></h1>
    {% if problems %}
        {% for problem in problems %}
            <button type="button" class="collapsible">{{ problem.name }} ({{ problem.metadata.difficulty }}) </button>
            <div class="content">
                <p class="problem_desc" style="white-space: pre-wrap;">{{ problem.metadata.description }}</p>
                {% if user.profile.role == "student" %}
                <a href="{% url 'code:solution' prob_id=problem.id %}">
                    <div class="text-center">
                        <button type="button" class="text-center go_btn">
                            Get started
                        </button>
                    </div>
                </a>
                <p class="problem_author"> Created by {{ problem.author__username }}</p>
                {% elif user.profile.role == "tutor" %}
                <a href="{% url 'classes:submission_overview' course_id=course.id prob_id=problem.id %}">
                    <div class="text-center">
                        <button type="button" class="text-center go_btn">
                            Check out the status of your problem
                        </button>
                    </div>
                </a>
            {% endif %}
            </div>
        {% endfor %}
    {% else %}
        <p>There do not appear to be any problems associated with this course</p>
    {% endif %}
    <br><br>
    {% if user.profile.role == "tutor" %}
    <a class="nav-link dropdown-toggle text-center go_btn" href="#" data-toggle="dropdown">Upload A New Problem</a>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="{% url 'code:problem_upload' problem_cat='default' course_id=course.id %}">Default</a></li>
        <li><a class="dropdown-item" href="{% url 'code:problem_upload' problem_cat='file_io' course_id=course.id %}">File I/O</a></li>
    </ul>
    {% endif %}
    {% if user.id == course.tutor_id %}
    <div style="text-align:center;margin-top:35px;">
        <a href="" data-toggle='modal' data-target='#modalDeleteConfirm'><button name="del_btn" type='button'
                class='text-center go_btn btn-sm' style='width:15%;padding:10px;background-color:rgb(240, 79, 79)'
                id="deactivate_course">Deactivate Course</button></a>
    </div>
    <div style="text-align:center;margin-top:35px;" id="deactivation_response"></div>
    
    <div class="modal fade" id="modalDeleteConfirm" tabindex="-1" role="dialog"
        aria-labelledby="modalDeleteConfirmCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-sm" style="width:90%" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 style="color:black;text-align:center;" class="modal-title" id="modal_title">Confirm Deactivation</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div style="color:black" class="modal-body" id="modal_body">
                    Are you sure you want to deactivate this course?
                </div>
                <div style="color:black" class="modal-footer" id="confirm_deactivate">
                    <button type="button" class="btn btn-secondary" style="background-color: rgb(240, 79, 79);"
                        data-dismiss="modal" id="confirm">Confirm</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" id="cancel">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

<!--
    <h1 style="text-align:center;text-transform:capitalize;"><u>Courses</u></h1>
    <br>
    {% for course in courses %}
    <button type="button" class="collapsible">{{ course.name }}</button>
    <div class="content">
        <p class="problem_desc" style="white-space: pre-wrap;">{{ course.description }}</p>
        <a href="#">
            <div class="text-center">
                <button type="button" class="text-center go_btn">
                    Get started
                </button>
            </div>
        </a>
        <p class="problem_author"> Tutor: {{ course.tutor }}</p>
    </div>

    {% endfor %}  -->
</div>
</div>

<script type="text/javascript">window.course_id = "{{ course.id }}"; window.csrf_token = "{{ csrf_token }}";</script>
<script type="text/javascript" src="{% static 'js/utils/collapse.js' %}"></script>
<script type="text/javascript" src="{% static 'js/courses/course_landing.js' %}"></script>
{% endblock content %}


