{% extends "base.html" %}
{% load static %}
{% block content %}

<div style="margin: 7% 0 0 5%">
    <h2><u>{{ solution.submitter.username|title }}'s submission for {{ solution.problem.name }}</u></h2> 
    <h5>({{ solution.course.name }} : {{ solution.course.code }})</h5><br><br> 
    <p id="score"></p>
    <p id="runtime_direct"></p>
    <p id="time_comp"></p><br>
    <p id="date_sub"></p><br><br>
    <h4><u>Solution Text:</u></h4><br>
    <p id="solution_text"></p>
</div>


{{ solution.analysis|json_script:"soln_analysis" }}
<script>
  const solution_analysis = JSON.parse(document.getElementById('soln_analysis').textContent);
  const username = "{{ solution.submitter.username }}";
  const date_sub = "{{ solution.date_submitted }}";
</script>
<script type="text/javascript">const csrf_token = "{{ csrf_token }}";</script>
<script type="text/javascript" src="{% static 'js/courses/problem_view.js' %}"></script>

{% endblock content %}


