{% extends "base.html" %}
{% load static %}
{% block content %}
{% if solution %}
<div style="margin: 7% 0 0 5%">
    {% if user.profile.role == "tutor" %}
    <h2><u>{{ solution.submitter.username|title }}'s submission for {{ solution.problem.name }}</u></h2>
    {% elif user.profile.role == "student" %}
    <h2><u>Your submission for {{ solution.problem.name }}</u></h2>
    {% endif %}
    <h5>({{ solution.course.name }} : {{ solution.course.code }})</h5><br><br> 
    <p id="score"></p>
    <p id="cprof"></p>
    <p id="memprof"></p><br>
    <p id="date_sub"></p><br><br>
    <h4><u>Solution Text:</u></h4><br>
    <p id="solution_text"></p>
</div><br><br>
<button type='button' class='text-center go_btn btn-sm' id='stat_btn'
    style='width:15%;padding:10px;background-color:#1d2b5b'>View Score Chart</button>
<div height='400px' width='400px' style='margin-top:10%;width:80%;height:60vh;position:relative;'>
    <canvas id='myChart' width='400' height='200'
        style='position:absolute;top:0;bottom:0;right:0;left:0;margin:auto;'></canvas>
    </div>
<br><br>
{% else %}
<div style="text-align:center;margin-top:20%">
    <h5 style="color:#06D6A0;">Oops, it looks like you haven't any recorded submissions for this problem!</h5>
    <br>
    <a href="{% url 'code:solution' prob_id=problem_id %}"><button type='button' class='text-center go_btn btn-sm'
            style='width:15%;padding:10px;background-color:#1d2b5b'>Try it out</button></a>
</div>
{% endif %}

{{ solution.analysis|json_script:"soln_analysis" }}
<script>
  const solution_analysis = JSON.parse(document.getElementById('soln_analysis').textContent);
  const submitter_name = "{{ solution.submitter.username }}";
  const date_sub = "{{ solution.date_submitted }}";
  const role = "{{ user.profile.role }}"
  const course_id = "{{ solution.course.id }}";
  const problem_id = "{{ solution.problem.id }}";
</script>

{% if solution.course.tutor_id == user.id %}
<script>const valid_tutor = true;</script>
{% else %}
<script>const valid_tutor = false;</script>
{% endif %}
{% if solution.submitter.id == user.id %}
<script>const valid_student = true;</script>
{% else %}
<script>const valid_student = false;</script>
{% endif %}


<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
<script type="text/javascript">const csrf_token = "{{ csrf_token }}";</script>
<script type="text/javascript" src="{% static 'js/courses/problem_view.js' %}"></script>
<script type="text/javascript" src="{% static 'js/charts/problem_view_charts.js' %}"></script>

{% endblock content %}


