
/* Use the following fonts for headings and logo */
/*Heading*/
/* font-family: poppins;
font-weight: 700;

/*Logo*/
/*
font-family: poppins;
font-weight: 800; */

@font-face {
    font-family: 'Avenir';
    font-style: normal;
    font-weight: normal;
    src:
      url('./assets/fonts/avenir-light.woff') format('woff');
  }
   
  html,
  body {
    font-family: 'Avenir', sans-serif;
    font-weight: 600;
    margin: 0;
  }

  .CodeMirror{
    height: 100% !important;
    font-family: 'Avenir' !important;
    font-weight: 400 !important;
  }