{% extends "base.html" %}
{% load static %}
{% block content %}

{% if attempt_number <= allowed_attempts %}
<div class="code-home">
    <div class="top_section">
        <img src="{% static 'images/back.png' %}" id="go_back" />
        <h1 class="problem_name text-left" style="text-transform:capitalize;margin-left:20px;"><br><u>{{ problem.name }}</u><br></h1>
        <h4 class="problem_desc text-left" id="attempt_hdr"></h4>
    </div>
    <br>
    <p class="problem_desc" id="description" style="white-space:pre-wrap;margin-left:2em;">{{ problem_desc }}</p>
    <br>
    {% if sample_input %}
    <p>Sample input: {{ sample_input }}</p>
    <p>Sample output: {{ sample_output }} </p>
    {% endif %}

    <div class="row no-gutters">
        <div id="editor" class="col-sm-12 col-md-6 col-lg-6 col-xl-6 nopadding">
        </div>
        <div class="solution-info col-sm-12 col-md-6 col-lg-6 col-xl-6 nopadding">
            <form id="sub_form" action="" method="post" enc="multipart/form-data">

                {% csrf_token %}
                <div class="form-row">
                    <div class="form-group col-md-6 mb-0 col-lg-12">
                        {{ form.title }}
                    </div>
                </div>
                <br>
                <div class="form-row">
                    <div class="form-group col-md-6 mb-0 col-lg-12">
                        <input name="solution" id="solution_text" type="hidden">
                        <input type="hidden"> {{ form.user_id }} {{ form.problem_id }} {{ form.course_id }}
                    </div>
                    <input type="hidden" name="sub_type" value="solution">
                </div>


                <div id="problem_info">

                    <div id="result">
                        <p id="error_message" style="padding-top:10em;text-align:center;color:red;text-transform:italic;"></p>
                        <p id="overall_score" class="text-center"></p>
                        <div id="collapse_section">
                            <button type="button" class="collapsible"> Overview Stats </button>
                            <div id="collapse0" class="content" name="collapse_results">
                                <p id="overview_stats">
                                </p>

                            </div>
                            <button type="button" class="collapsible"> Sample Pseudocode </button>
                            <div id="collapse1" class="content" name="collapse_results">
                                <p id="pseudocode"></p>
                            </div>
                            <button id="lp_btn" type="button" class="collapsible"> Line Profiling </button>
                            <div id="collapse2" class="content" name="collapse_results">
                                <p id="line_profiling">
                                <p id="graph_space">
                                <div id='graph_heading'></div>
                                <div height='400px' width='400px' style='width:100%;height:100vh;position:relative;'>
                                    <canvas id='myChart' width='400' height='400'
                                        style='position:absolute;top:0;bottom:0;right:0;left:0;margin:auto;'></canvas>
                                </div>
                                </p>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <button id="sub_btn" type="submit" class="text-center submit_btn">
                            <img src="{% static 'images/submit.png' %}" id="submit_img" alt="Unknown img" />
                            <p class="btn_text">Submit Your Code</p>
                        </button>
                    </div>
                    <div id="loader">
                        <div class="text-center">
                            <svg width="200" height="200" viewBox="0 0 100 100">
                                <polyline class="line-cornered stroke-still" points="0,0 100,0 100,100"
                                    stroke-width="10" fill="none"></polyline>
                                <polyline class="line-cornered stroke-still" points="0,0 0,100 100,100"
                                    stroke-width="10" fill="none"></polyline>
                                <polyline class="line-cornered stroke-animation" points="0,0 100,0 100,100"
                                    stroke-width="10" fill="none"></polyline>
                                <polyline class="line-cornered stroke-animation" points="0,0 0,100 100,100"
                                    stroke-width="10" fill="none"></polyline>
                            </svg>
                        </div>
                    </div>


                    <p style="visibility:hidden;" id="main_signature">{{ main_signature }}</p>


                </div>

            </form>




        </div>


    </div>


</div>

<div id="result"></div>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" style="width:90%" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 style="color:black;text-align:center;" class="modal-title" id="modal_title">Detailed Breakdown</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div style="color:black; overflow-x: scroll; overflow-y:scroll;" class="modal-body" id="modal_body">
                <div style="color:black; overflow-x: scroll; overflow-y:scroll;" class="modal-body" id="modal_body_inner"></div>
                <h5 id="mtsuc_hdr" style="color:#06D6A0;"></h5><br>
                <table id="mtsuc" class="table-striped table-black" style="width:100%;background-color:#101010;border-width: 5px;border-color: #06D6A0;"></table>
                <br>
                <h5 id="mterr_hdr" style="color:rgb(240, 79, 79)"></h5><br>
                <table id="mterr" class="table-striped table-black" style="width:100%;background-color:#101010;border-width: 5px;border-color: rgb(240, 79, 79);"></table>
            </div>
            <div style="color:black" class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% else %}
<div style="text-align:center;margin-top:20%">
    <h5 style="color:#06D6A0;">Oops, you appear to have exceeded the maximum number of attempts for this problem</h5><br>
    <a href="{% url 'classes:problem_view' problem_id=problem.id uid=user.id role=user.profile.role %}">
        <div class="text-center">
            <button type="button" class="text-center go_btn" style="background-color:#1d2b5b;">
                Check out your stats
            </button>
        </div>
    </a>
</div>
{% endif %}
<script>const attempt_number = "{{ attempt_number }}";</script>
<script>const allowed_attempts = "{{ allowed_attempts }}";</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/ace.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" src="{% static 'js/main/code.js' %}"></script>
<script type="text/javascript" src="{% static 'js/utils/collapse.js' %}"></script>
<script type="text/javascript" src="{% static 'js/utils/reset_results.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>

{% endblock content %}