{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="home">
    <div class="container" id="problems">
    <br>
    <h1>{{ course.name }}</h1>
    <div>
        <p>{{ course.description }}</p> 
    </div>
    <h3 style="text-align:center;text-transform:capitalize;"><u>Problems</u></h1>
    {% if problems %}
        {% for problem in problems %}
            <button type="button" class="collapsible">{{ problem.name }} ({{ problem.metadata.difficulty }}) </button>
            <div class="content">
                <p class="problem_desc" style="white-space: pre-wrap;">{{ problem.metadata.description }}</p>
                <a href="{% url 'code:solution' prob_id=problem.id %}">
                    <div class="text-center">
                        <button type="button" class="text-center go_btn">
                            Get started
                        </button>
                    </div>
                </a>
                <p class="problem_author"> Created by {{ problem.author__username }}</p>
            </div>
        {% endfor %}
    {% else %}
        <p>There do not appear to be any problems associated with this course</p>
    {% endif %}
    <br><br>
    {% if user.profile.role == "tutor" %}
    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Upload A Problem</a>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="{% url 'code:problem_upload' problem_cat='default' course_id=course.id %}">Default</a></li>
        <li><a class="dropdown-item" href="{% url 'code:problem_upload' problem_cat='file_io' course_id=course.id %}">File I/O</a></li>
    </ul>
    {% endif %}
<!--
    <h1 style="text-align:center;text-transform:capitalize;"><u>Courses</u></h1>
    <br>
    {% for course in courses %}
    <button type="button" class="collapsible">{{ course.name }}</button>
    <div class="content">
        <p class="problem_desc" style="white-space: pre-wrap;">{{ course.description }}</p>
        <a href="#">
            <div class="text-center">
                <button type="button" class="text-center go_btn">
                    Get started
                </button>
            </div>
        </a>
        <p class="problem_author"> Tutor: {{ course.tutor }}</p>
    </div>

    {% endfor %}  -->
</div>
</div>

<script type="text/javascript" src="{% static 'js/utils/collapse.js' %}"></script>

{% endblock content %}


