{% extends "base.html" %} 
{% load static %} 
{% load crispy_forms_tags %}

{% block content %}
<div class="row no-gutters">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 nopadding">
        <div>
            <h2 class="text-center" style="padding:20px;"><u>Create Your Course Below</u></h2>
        </div>
        <div class="text-left upload_form" style="padding-left:20px;">
            <form id="create_course_form" action="" method="post" enc="multipart/form-data">
                {% csrf_token %}
                <div class="form-group col-sm-12 col-md-12 col-lg-12 col-xl-12 item"><span class="upload-form-field">Course Name:</span> <span class="problem_name">{{ form.name }}</span></div>
                <div class="form-group col-sm-12 col-md-12 col-lg-12 col-xl-12 item"><span class="upload-form-field">Course Code:</span> <span class="problem_name">{{ form.code }}</span></div>
                <div class="form-group col-sm-12 col-md-12 col-lg-12 col-xl-12 item"><span class="upload-form-field">Course Description:</span> <span class="problem_desc">{{ form.description }}</span></div>
                <div class="text-center">
                    <button id="sub_btn" type="submit" class="submit_form_btn">CREATE</button>
                </div>
            </form>
        </div>
        <div><p id="cc_res" style="text-align:center;"></p></div>
    </div>
</div>

<script type="text/javascript" src="{% static 'js/main/create_course.js' %}"></script> 
{% endblock %}